@import '~antd/dist/antd.css';

.Nav-header {
  background-color: #282c34;
  min-height: 20vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav-link {
  color: #61dafb;
}
/* body, html {
  overflow: hidden;
} */

.cntr {
  text-align: center;
  margin: 0 auto;
}

footer.ant-layout-footer {
  text-align: center;
  background: #282C34;
  color: #f0f2f5
}

.ant-layout-header.Nav-header {
  padding: 0;
}
.ant-layout-header h1 {
  margin: 0;
  font-size: xx-large;
}

main div .ant-col.ant-col-24.a {
  margin-top: 10vmin;
}

footer p {
  margin: 0;
}

.ant-col.ant-col-12.cntr p {
  margin: 24px 0 0 0;
}